<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Here is your WorkOrder

Your OrderId is  <%= @order.OrderId%>
Your Property Id is <%= @order.PropertyId%></h1>






    
    <p>    To view your completed workorder please click here <%= @url %>.


    </p>
    <p>Thanks for being a PestNow Customer and have a great day!</p>
  </body>
</html>
