<p id="notice"><%= notice %></p>

<p>
  <b>Frank</b>
  <b>Wdireportid:</b>
  <%= @wdireport.WDIId %>
</p>


<%= link_to 'Edit', edit_wdireport_path(@wdireport) %> |
<%= link_to 'Back', wdireports_path %>
