@charset "UTF-8";
/* CSS Document */
/* =GENERAL - the general styles */

* 	{
	padding: 0;
	margin: 0;
	}

html, body {
	height: 100%;
	font-family: "trebuchet ms", Arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight:normal;
	background-color:#EBEBEB;
	}

fieldset { border:none; }

td { vertical-align:top; }

#wrapper {
	margin:0;
	padding:0;
	width: 100%;
	background:#FFFFFF url('Images/headerbkfill.jpg') top left repeat-x;
	position:relative;
	}

/*--------------------images and extra stuff area--------------------*/

* html img { behavior:url(/includes/pngbehavior.htc); }

img.floatleft {
	float: left;
	margin: 0px;
	padding-right: 8px;
	}
img.floatright {
	float: right;
	margin: 0px;
	padding: 5px;
	}

img.floatcenter {
	margin: 0 auto;
	display: block;
	}

img.logo {
	float:left;
	margin: 20px 0 0 80px;
	}

img.spider {
	left: 200px;
	margin-top: 90px;
	float:right;
	z-index: 1000;
	position:absolute;
	}

img.spiderinner {
	left: 500px;
	margin-top: 39px;
	float:right;
	z-index: 1000;
	position:absolute;
	}

img.ant {
	left: 500px;
	margin-top: 72px;
	float:right;
	z-index: 1000;
	position:absolute;
	}

img.mouse {
	left: 600px;
	margin-top: 28px;
	float:right;
	z-index: 1000;
	position:absolute;
	}

img.roach {
	left: 500px;
	margin-top: 35px;
	float:right;
	z-index: 1000;
	position:absolute;
	}

img.get20 {
	margin: 0 auto;
	display: block;
	padding-top: 20px;
	}

img.franchise {
	margin-bottom: 10px;
	padding-right: 25px;
	}
.clear { clear: both; }

a img { border:none; }

.clearfix:after {
	visibility: hidden;
	display: block;
	clear: both;
	line-height: 0;
	content:".";
	height:0;
}
.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* close commented backslash hack */

/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */

html[xmlns] .clearfix {display: block;}

/*Fonts----------------------------------------------------------------*/

h1 {
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 36px;
	line-height: 38px;
	color: #333333;
	font-weight:bold;
	padding: 0 0 12px 0;
	letter-spacing:-1px;
	}

h2 {  /* Grey body content area WHITE header titles */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 28px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 15px;
	font-weight:normal;
	}

h3 { /* Sub text or darker green sub header text */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 18px;
	color: #308e43;
	font-weight:normal;
	line-height: 20px;
	margin: 2px 0 15px 0;
	}

h4 {  /* grey body content BRIGHT GREEN sub titles */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 18px;
	color: #66cc33;
	font-weight: normal;
	line-height: 24px;
	padding-bottom: 15px;
	}

h5 {    /* StepsBox Titles */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 30px;
	color: #308e43;
	font-weight:bold;
	line-height: 32px;
	}

h6 {    /* StepsBox Titles */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	font-weight:normal;
	line-height: 26px;
	padding-bottom: 10px;
	}

        h7 {    /* StepsBox Titles */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	font-weight:bold;
	line-height: 26px;
	padding-bottom: 10px;
	}
.brightgreen {
	color: #66cc33;
	font-weight:bold;
	}
.smalltext {
	color:#CCC;
	font-size:10px;
	}

p 	{
	font-family: Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	letter-spacing: 0px;
	font-size: 12px;
	text-align: left;
	padding-bottom: 8px;
	line-height: 17px;
	}

a:link {
	color: #66cc33;
	}

a:visited {
	color: #66cc33;
	}

a:hover {
	color: #fff;
	}

a:active {
	color: #999999;
	}

hr {
	margin: 10px 0 20px 0;
	color:#CCCCCC;
	}

.headertitle1 { /* TOP RIGHT HEADER TEXT GREEN  */
	font-size: 28px;
	color: #308e43;
	font-weight:bold;
	text-align:center;
	line-height:28px;
	}

.headertitle2 {  /* TOP RIGHT HEADER TEXT BIG GREY  */
	font-size: 30px;
	color: #333;
	font-weight:bold;
	text-align:center;
	line-height: 24px;
	}

.headertitle3 {  /* TOP RIGHT HEADER TEXT BIG GREY  */
	font-size: 16px;
	color: #333;
	font-weight:bold;
	text-align:center;
	line-height: 14px;
	}

.requiredfields {
	color:#66cc33;
	}

.reditalics {    /* StepsBox RED Titles */
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	font-size: 16px;
	color: #990000;
	font-weight:bold;
	font-style:italic;
	line-height: 30px;
	}

/*------------------------------------top header and SubBody------------------*/

#head {
	width: 100%;
	height: 173px;
	margin: 0 auto;
	padding: 0;
	position:relative;
	}

.headertext {
	width: 300px;
	float:right;
	margin: 20px 65px 0 0;
	}

.headertext p {
	text-align: center;
	}

#subhead {
	width: 100%;
	height: 247px;
	position:relative;
	margin: 0 auto;
	padding: 0;
	background:url('Images/subbodyfill.jpg') repeat-x;
	z-index: 100;
	}

.subheadcontainer {
	width:960px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	}

#subheadinner {
	width: 100%;
	height: 147px;
	position:relative;
	margin: 0 auto;
	padding: 0;
	background:url('Images/subinnerbodyfill.jpg') repeat-x;
	z-index: 100;
	}

.subheadtext {
	width: 300px;
	padding: 50px 0 0 10px;
	}

.subheadtext p {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	font-size: 14px;
	color: #545454;
	line-height: 18px;
	}

.subheadtextinner {
	width: 410px;
	padding: 50px 0 0 85px;
	}

/* ----------- Main form on Home page -------------------- */

#mainform {
	width: 622px;
	height: 261px;
	position: absolute;
	right: 0;
	top: 10px;
	padding:0 0 30px 25px;
	margin:0;
	background: url('Images/StepsBox.png') no-repeat;
	}

* html #mainform {
	background-image: url('Images/stepsbox.gif');
	padding-left:12px;
	padding-right:13px;
	}

* html #mainform fieldset { margin-left:9px; }

#mainform p {
	color:#333;
	padding-bottom:15px;
	line-height: 12px;
	}

#mainform fieldset {
	height: 250px;
	float:left;
	background: url('Images/stepboxdiv.png') no-repeat top right;
	margin: 15px 5px 0 18px;
	padding:0;
	}
#mainform fieldset ul li {
	color:#333;
	padding-bottom:5px;
	margin-left: 5px;
	list-style:none;
	text-align:left;
	line-height: 12px;
	}

#mainform .stepsboxcolumn1 { width: 185px; }
#mainform .stepsboxcolumn2 { width: 195px; }
#mainform .stepsboxminicolumn {
	width: 95px;
	float:left;
	margin: 5px 0 0 0;
	}

#mainform .stepsboxcolumn3 {
	width: 165px;
	margin-right:0;
	background:none;
	}

#mainform .stepsboxcolumn3 input.getprice {
	background:#50A942 url(/Images/btn_getprice.jpg) top left no-repeat;
	color:#fff;
	font-weight:bold;
	margin-top: 13px;
	height:47px;
	width:153px;
	text-indent:-1000em;
	overflow:hidden;
	border:none;
	display:block;
	*background-image:none;
	}

/*--------------------------------Navigation --------------------*/
#navigation {
	width:100%;
	font-family: "trebuchet ms", helvetica, sans-serif;
	background:url('Images/navfill.png') repeat-x;
	height: 47px;
	float: left;
	position:relative;
	z-index:1000;
	}

#navcontainer {
	width: 960px;
	margin: 0 auto;
	}

#navigation ul {
	text-align: center;
	padding-left: 8%;
	margin-left: 5%;
	}

#navigation ul li {
	list-style: none;
	float: left;
	border-right:1px solid #d7d6d6;
	position:relative;
	}

#navigation ul li a {
	display: block;
	color: #fff;
	line-height: 47px;
	text-decoration: none;
	font-size: 14px;
	padding:0 20px;
	}

#navigation ul li.last{
	border-right:none;
	}

#navigation ul li.active a {
	color:#fff;
	background:#000;
	}

#navigation ul li a:hover { /* Top menu items background colour */
	color:#00FF00;
	}

/* Submenu items */

#navigation ul li ul {
	display: none;
	width: 90%; /* Width to help Opera out */
	}

#navigation ul ul {
	display: block;
	position: absolute;
	line-height: 18px;
	text-align: center;
	margin: 0;
	padding: 0;
	}

#navigation ul ul li {
	float:none;
	width:100%;
	}

#navigation li:hover li a, #navigation li.hover li a {
	font-size: 12px;
	line-height: 16px;
	background-color:#CCC;
	background-image:none;
	border-bottom: 1px solid #fff;
	color: #FFF;
	padding: 5px 8px 5px 8px;
	width:100%;
	}

#navigation li li a:hover {
	background-color: #1E6813;
	}

div#navigation ul ul,

div#navigation ul li:hover ul ul,

div#navigation ul ul li:hover ul ul

{display: none;}

div#navigation ul li:hover ul,

div#navigation ul ul li:hover ul,

div#navigation ul ul ul li:hover ul

{display: block;}

/* Make the sub menus appear on hover */

#navigation ul li:hover ul,

#navigation ul li.hover ul { /* This line is required for IE 6 and below */
	display:block; /* Show the sub menus */
	}

#clear {
	clear: both;
	}

/*-----------------------------------------body_area--------------------*/
#main {
	width:100%;
	position:relative;
	margin: 0 auto;
	padding: 0;
	background: #323232;
	min-height: 370px;
	}

#content {
	width:960px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	}

#content ul {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	color:#66cc33;
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 5px 35px;
	}

#content ul li {
	padding-bottom: 5px;
	}

#left, #right, #center {
	width:280px;
	float: left;
	min-height:300px;
	padding: 50px 28px 15px 12px;
	}

#right { float: right; }

* html #left, * html #right, * html #center { padding-top:60px; }

.bodytext {
	width: 780px;
	padding: 20px 0 45px 85px;
	float: left;
	line-height: 16px;
	min-height: 350px;
	}

.bodytext h2 {
	color:#66cc33;
	font-weight:bold;
	}

.bodytext h3 {
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	line-height: 22px;
	margin:0;
	}

.bodycolumn {
	float:left;
	width: 280px;
	margin: 15px 25px 8px 18px;
	}

.bodycolumn p {
	font-size: 12px;
	line-height: 16px;
	}

.contactform {
	width: 450px;
	float:right;
	color:#ccc;
	}
#franchisebox {
	width: 880px;
	background:url(Images/franch_subbox.png) top right no-repeat;
	float: right;
	margin: 20px 85px 0 0; 
	}
.franchisetext {
	width: 595px;
	padding: 20px 35px 45px 15px;
	float: right;
	line-height: 16px;
	min-height: 350px;
	}

.franchisetext h2 {
	color:#66cc33;
	font-weight:bold;
	}

.franchisetext h3 {
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	line-height: 22px;
	margin:0;
	}
#franchisenav {
	width: 150px;
	margin-left: 85px;
}

#franchisenav ul {
	margin:0px;
	padding:0px;
	background-color:#565555;
	font-size:14px;
}
#franchisenav ul li {
	height:28px;
	line-height:28px;
	list-style:none;
	padding-left:10px;
	color:#66cc33;
	border-bottom:#323232 solid;
	border-width:2px;
	cursor:pointer;
}
#franchisenav ul li a {
	color:#fff;
	text-decoration: none;
	
}
#franchisenav ul li:hover {
	color:#FFF;
	background-color:#323232;
	position:relative;
}

.franchiseform {
	width: 620px;
	float:left;
	color:#ccc;
	margin: 15px 0 15px 5px;
	}
.franchiseform td {
	padding: 3px 0 5px 15px;
	}
	
.calloutbox {
	background-color:#888;
	border:#666 1px solid;
	width: 580px;
	padding: 8px 13px 0 13px;
	margin: 10px 0 20px 0;
	}
.calloutbox p {
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height:18px;
	}
/*----------------------------EXTRAS AND ROLLOVER IMAGES --------------------*/

#rollover {
	width:80%;
	height:47px; 
	margin: 0 auto;
	padding: 0;
	position:relative;
	}

.rollover ul { 
	list-style:none;
	text-align:center;
	padding: 0;
	margin: 0;
	}

.rollover li { 
	float: left;
	padding: 0 10px 0 10px;
	}

.rollover li a { 
	display:block;  
	background:url('Images/btn_green.png') no-repeat 0px 0px;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	width:134px;
	height:47px;
	line-height:47px;
	text-align:center;
	font-size: 18px;
	padding: 0 10px 0 10px;
	}

.rollover li a:hover { 
	color:#006600;
	text-decoration:none;
	}

/*--------------------------SERVICES PEST IMAGES AND LISTS --------------------*/
div#pests {
	width:700px;
	margin: 0 auto;
	}

dl {
	color: #66cc33;
	width: 100%;
	overflow: auto;
	border-bottom: dotted 1px #999;
	padding: 12px 0 0 0;
	}

dt,dd.definition {
	font-size: 100%;
	}

dt {
	font-size: 18px;
	font-weight:bold;
	color: #66cc33;
	line-height: 16px;
	margin:0;
	padding:0;
	}

dd {
	margin:0;
	}

dd.image {
	float: left;
	padding: 0 10px 10px 0;
	}

dd.definition {
	width: 100%;
	font-family: "Helvetica Neue", "Helvetica Neue Bold Condensed" helvetica, sans-serif;
	color: #CCCCCC;
	letter-spacing: .60px;
	font-size: 12px;
	text-align: left;
	padding-bottom: 8px;
	}

/*---------------------GET MY PRICE ESTIMATE PAGES--------------------*/

.bodyesttext {
	width: 775px;
	padding: 20px 20px 45px 20px;
	float: left;
	line-height: 16px;
	min-height: 550px;
	background:#FFFFFF url('Images/estboxfill.png') top repeat-x;
	}

.bodyesttext h2 {
	color:#66cc33;
	font-weight:bold;
	text-align:center;
	}

.bodyesttext h3 {
	font-size: 18px;
	font-weight:bold;
	color: #666666;
	line-height: 22px;
	text-align:center;
	margin:0;
	padding-bottom: 5px;
	}

.bodyesttext h5 {
	text-align:center;
	}

.bodyesttext p {
	color:#333333;
	font-size: 12px;
	text-align: center;
	width: 500px;
	margin: 0 auto;
	}

.bodyesttext hr {
	margin: 8px 0 20px 0;
	background-color:#CCCCCC;
	border:none;
	height:1px;
	}

.estformbox {
	width: 500px;
	margin: 0 auto;
	}

/*------------------------------------------FOOTER--------------------*/	
#footer {
	background: url('Images/footerfill.png') repeat-x;
	width: 100%;
	height: 127px;
	bottom: 0;
	position:relative;
	margin: 0 auto;
	padding: 0;
	clear:both;
	}

#footercontainer {
	width: 960px;
	margin: 0 auto;
	}
.footercolumnleft {
	width: 200px;
	float:left;
	margin: 15px 55px 10px 10px;
	height: 80px;
	}

.footercolumnleft p {
	font-size: 12px;
	line-height:16px;
	color:#333333;
	}

.footercolumnleft a {
	color:#fff;
	text-decoration:none;
	}

.footercolumnleft a:hover {
	color:#005400;
	}

.footercolumnleft h3 {
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	line-height: 22px;
	margin:0;
	}	
.footercolumnleft ul {
	list-style:none;
	padding-bottom: 2px;
	color:#333333;
	width: 300px;
}
.footercolumnleft li {
	list-style:none;
	padding-bottom: 2px;
	color:#333333;
	float:left;
	width: 100px;
}
.footercolumnleft a {
	color:#66ff33;
	text-decoration:none;
	}

.footercolumnleft a:hover {
	color:#fff;
	}

.footercolumnright {
	width: 285px;
	float:right;
	margin: 15px 0 10px 0;
	text-align:right;
	}

.footercolumnright h3 {
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	line-height: 22px;
	margin:0;
	}

.footercolumnright p {
	font-size: 12px;
	line-height:14px;
	color:#333333;
	text-align:right;
	}

.footercolumnright a {
	color:#66ff33;
	text-decoration:none;
	}

.footercolumnright a:hover {
	color:#fff;
	}

.designedby {
	color: #66ff33;
	font-size: 10px;
	}
