<style type="text/css">


.field {
  text-align: right;

  position:absolute;
  left:70%;
  top:25%;
  }
  .field2 {
  text-align: right;

  position:absolute;
  left:70%;
  top:40%;
  }

  
.actions {
  
  font-size: 24px;
   text-align: right;
  position:absolute;
  left:80%;
  top:50%;

}


  </style>
<div id="login-area">

<%= render 'form' %>

</div>