<style type="text/css">


.field {
  text-align: center;


  }
  .field2 {
  text-align: center;


  }

  
.actions {
  
  font-size: 24px;
   text-align: center;


}


  </style>
<div id="login-area">

<%= render 'form' %>

</div>