<!DOCTYPE html>
<html>
	<head>
      
	
	 <%= javascript_include_tag "jquery.js", "rails.js", "custom-scripting.js" %>
        
	

          <%= csrf_meta_tag %>
</head>



<body>

 
		<h1>Results</h1>
<div id = invtoplogo><img src="http://www.agentorder.com/images/raillogo.png" width="210" /></div>
          <div id="nav1">
       
         
 
            </div>



 


<p style="color: red"><%= notice %></p>

<%= yield %>

 






 </body>
</html>